{% extends "base.html" %}

{% block content %}
<div class="container mx-auto">
    <div class="row">
        {% if actions %}
        {% include 'datepicker.html' %}
        {% endif %}
    </div>
    <div class="row">
        <div class="flex mb-4">
            <div class="flex-1">
                <span>Start Time: {{ start }}</span>
            </div>
            <div class="flex-1">
                <span>Stop Time: {{ stop }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="max-w-sm w-full lg:max-w-full lg:flex">
            <table class="table-auto">
                <thead>
                    <tr>
                        {% for header in table_header %}
                        <th class="px-4 py-2">{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in table_rows %}
                    <tr>
                        {% for data in row %}
                        <td class="border px-4 py-2">{{ data }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if actions %}
    {% include 'actions.html' %}
    {% endif %}
</div>
{% endblock %}